fieldset {
	background-color: var(--az-c);
	border-color: var(--az-c);
	border-radius: var(--b-radio);
}
  
legend {
	background-color: white;
	text-decoration: bold;
	border-radius: var(--b-radio);
	width: 15%;
	height: 4.7vw;
}

.legend-text {
	color: black;
	font-size: 1.7vw;
	text-align: center;
}

.contenedor-acerca {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2%;
}

.tabla-perfil, .tabla-idiomas {
	border: solid black;
	border-radius: var(--b-radio);
	background-color: white;
	width: 60%;
	box-shadow: 0vw 0vw 4vw -1.25vw;
}

.area-dato, .area-dato-tabla, .titulo-dato, .ultima-area-dato, .titulo-dato-sin-borde {
	font-size: 1vw;
}

.area-dato, .titulo-dato, .ultima-area-dato, .titulo-dato-sin-borde {
	padding-left: 4%;
	text-align: left;
}

.area-dato{
	width: 70%;
}

.titulo-dato{
	width: 30%;
}

.area-dato, .area-dato-tabla, .titulo-dato {
	border-bottom: solid;
	border-color: black;
	padding-top: 1.75%;
	padding-bottom: 1.75%;
}

.area-dato, .area-dato-tabla, .ultima-area-dato, .celda-idioma, .celda-idioma-sin-borde {
	color: var(--az-o);
}

.tabla-nacimiento {
	width: 90%;
	border-spacing: 0%;
	margin: 0% 5%;
}

.area-dato-tabla {
	text-align: center;
}

.area-dato-nacimiento {
	padding: 2% 6%;
}

.fondo-foto-perfil {
	display: flex;
	width: 30%;
	justify-content: center;
	align-items: center;
}

.foto-perfil {
	display: block;
	margin: auto;
	max-width: 80%;
	min-width: 40%;
	max-height: 80%;
	min-height: 50%;
	border: solid#919406;
	border-radius: var(--b-radio);
	background-color: #919406;
	box-shadow: 0vw 0vw 5vw -1.25vw black;
}

.info-perfil-titulo {
	font-size: 2.4vw;
	margin-left: 3%;
	margin-top: 2.3%;
	color: var(--am);
	text-shadow: var(--tshadow) black;
}

.flex-forma-academica, .malla-perfil-botones {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-forma-academica {
	width: 80%;
	margin: auto;
}

.malla-info-educacion {
	width: 30vw;
	height: 35vw;
	display: grid;
	gap: 0px;
	grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr;
	grid-template-columns: 0.2fr 1.8fr;
	grid-template-areas:
	'pr pr'
	'. inst1'
	'. .'
	'sc sc'
	'. inst2'
	'. .'
	'tr tr'
	'. inst3';
	text-align: left;
	overflow-y: scroll;
}

.malla-info-educacion .title1 {
	grid-area: pr;
}

.malla-info-educacion .title2 {
	grid-area: sc;
}

.malla-info-educacion .title3 {
	grid-area: tr;
}

h4 {
	color: white;
	font-size: 1.45vw;
	text-shadow: var(--tshadow) black;
	margin: 0;
}

.institucion1, .institucion2, .institucion3 {
	color: white;
}

.institucion1 {
	grid-area: inst1;	
}

.institucion2 {
	grid-area: inst2;	
}

.institucion3 {
	grid-area: inst3;	
}

.institucion-nombre {
	font-weight: bold;
	font-size: 0.9vw;
}

.institucion-nombre:hover {
	cursor: pointer;
	color: var(--am);
}

.institucion-periodo {
	font-size: 0.85vw;
}

.ico-enlace {
	width: 3%;
}

.malla-mapa-instituciones {
	width: 40%;
}

.mapa-integrado {
	background-color: gray;
	width: 27.75vw;
	height: 32.2vw;
	border: 0;
	box-shadow: 0vw 0vw 0vw 1vw white, 0vw 0vw 5vw -1.25vw black;
}

.tabla-idiomas {
	margin: auto;
}

.celda-idioma, .celda-idioma-sin-borde, .habilidad-idioma {
	padding-top: 1.75%;
	padding-bottom: 1.75%;
	font-size: 1vw;
	text-align: center;
}

.celda-idioma {
	border-bottom: solid;
	border-color: black;
}

.malla-perfil-botones {
	width: 80%;
	margin: auto;
	padding: 5% 0% 5% 0%;
}

div.malla-perfil-boton {
	text-align: center;
}