header {
	background-color: black;
	display: flex;
	height: 4rem;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	top: 0;
	position: fixed;
	z-index: 4;
}

nav {
	margin-right: 2%;
}

#logo_in {
	color: var(--am);
	font-size: 1.5rem;
}

#logo_in:hover {
	text-shadow: 0vw 0vw 0.7vw white;
}

.indice {
	margin: 0rem 1rem;
	font-size: 1rem;
}

.indice:hover {
	color: var(--am);
	text-shadow: 0vw -0.1vw 0.3vw white;
}

@media screen and (max-width: 750px) {
	header {
		background-color: black;
		flex-direction: column;
		height: 10%;
	}

	#logo_in {
		font-size: 1rem;
	}

	.indice{
		font-size: 0.75rem;
		margin: 0px 10px;
	}
}


@media screen and (max-width: 580px) {
  
	#logo_in {
		font-size: 0.75rem;
	}

	.indice{
		font-size: 0.5rem;
		margin: 0rem 0.2rem;
	}
}

/* VISTA MOVIL */

/* HORIZONTAL */

@media (max-device-width: 1024px) and (orientation: landscape) {
	header {
		height: 3.8rem;
	}
}

/* VERTICAL */

@media (max-device-width: 780px) and (orientation: portrait)  {
	header {
		flex-direction: column;
		height: 4.5rem;
	}

	#logo_in {
		font-size: 1rem;
	}

	.indice{
		font-size: 0.75rem;
		margin: 0rem 0.2rem;
	}
}

@media (max-device-width: 580px) and (orientation: portrait)  {
	#logo_in {
		font-size: 1rem;
	}

	.indice{
		font-size: 0.5rem;
		margin: 0rem 0.1rem;
	}
}

@media (max-device-width: 340px) and (orientation: portrait)  {
	header {
		height: 3.5rem;
	}

	#logo_in {
		font-size: 0.8rem;
	}

	.indice{
		font-size: 0.5rem;
	}
}

@media (max-device-width: 240px) and (orientation: portrait)  {
	header {
		height: 3.3rem;
	}

	#logo_in {
		font-size: 0.6rem;
	}

	.indice{
		font-size: 0.4rem;
		margin: 0rem 0.1rem;
	}
}