#project-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.type-project-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}

.type-project-cell {
    margin: 0.5vw 0.4vw;
    height: 100%;
    width: 95%;
	background-color: var(--az-c);
	border-radius: var(--b-radio);
	box-shadow: -0.02vw -0.02vw 0.75vw 0.15vw black inset;
}

.type-project-img {
    margin-top: 5%;
	width: 65%;
	height: 60%;
}

.type-project-title {
	font-size: 2vw;
	color: white;
    margin-bottom: 5%;
}

/* LISTAS DE PROYECTOS OCULTAS */

#flex-proyectos {
    margin: 2% 1%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.proyecto-ico, .proyecto-ico-seleccionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 1%;
    border-radius: var(--b-radio);
    width: 8vw;
    height: 7vw;
    font-size: 1vw;
}

.proyecto-ico {
    color: black;
	background-color: white;
    transition: all 0.1s ease;
}

.proyecto-ico:hover {
    color: var(--am);
	background-color: var(--az-c);
    cursor: pointer;
    width: 8.5vw;
    height: 7.5vw;
    box-shadow: 0vw 0vw 0.85vw 0.2vw var(--am);
}

.proyecto-ico-seleccionado {
    color: white;
	background-color: var(--az-o);
    box-shadow: 0vw 0vw 0vw 0.1vw white;
}

.proyecto-ico-size {
    margin-top: 2%;
	display: block;
    width: 5vw;
    height: 5vw;
	border-radius: var(--b-radio);
    color: transparent;
}

.proyecto-ico-title {
    font-size: 0.5vw;
    font-weight: bold;
    text-align: center;
}

/* TABLA DE INFORMACIÓN PROYECTO */

#info-proyecto-flex {
	border: solid black;
	border-radius: var(--b-radio);
	box-shadow: 0vw 0vw 4vw -1.25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    width: 80%;
}

#tabla-info-proyecto {
    margin: 0% 2%;
}

.titulo-dato-proyecto{
	width: 30%;
}

.area-dato-proyecto, .area-dato-tabla-proyecto, .titulo-dato-proyecto, .ultima-area-dato-proyecto, .titulo-dato-proyecto-sin-borde {
	font-size: 1vw;
}

.area-dato-proyecto, .titulo-dato-proyecto, .ultima-area-dato-proyecto, .titulo-dato-proyecto-sin-borde {
	padding-left: 4%;
	text-align: left;
}

.area-dato-proyecto{
	width: 70%;
}

.area-dato-proyecto, .area-dato-tabla-proyecto, .titulo-dato-proyecto {
	border-bottom: solid;
	border-color: black;
	padding-top: 1.75%;
	padding-bottom: 1.75%;
}

.area-dato-proyecto, .area-dato-tabla-proyecto, .ultima-area-dato-proyecto, .celda-idioma, .celda-idioma-sin-borde {
	color: var(--az-o);
}

.malla-nacimiento {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
    '. . . .'
    '. civil maternidad .'
    '. f1 f2 .'
    '. . . .';
}

.titulo-fecha-civil {
    grid-area: civil;
    font-weight: bold;
}

.titulo-fecha-maternidad {
    grid-area: maternidad;
    font-weight: bold;
}

.fecha1 {
    grid-area: f1;
}

.fecha2 {
    grid-area: f2;
}

.malla-lanzamiento {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
    '. . . .'
    '. launch update .'
    '. d1 d2 .'
    '. . . .';
}

.tabla-lanzamiento {
	width: 90%;
	border-spacing: 0%;
	margin: 0% 5%;
}

.area-dato-tabla-proyecto {
	text-align: center;
}

.area-dato-lanzamiento {
	padding: 2% 6%;
}

.titulo-fecha-launch {
    grid-area: launch;
    font-weight: bold;
}

.titulo-fecha-update {
    grid-area: update;
    font-weight: bold;
}

.date1 {
    grid-area: d1;
}

.date2 {
    grid-area: d2;
}

#icono-proyecto {
    margin: 0% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project-ico-title {
    font-size: 1.3vw;
}

#project-big-img {
    width: 100%;
    background-color: gray;
}

@media screen and (max-width: 580px) {
    #project-flex {
        flex-direction: column;
    }

    .type-project-cell {
        height: 90vw;
        width: 35vw;
    }
}