/* VARIABLES GLOBALES */

:root {
	--am: #F9FF00;
	--az-o: #033473;
	--az-c: #0550AF;
	--tshadow: -0.25vw -0.25vw 0vw;
  	--b-radio: 1vw;
}

/* EFECTOS CSS */

* {
	font-family: Verdana, Arial, sans-serif;
}

html {
	height: 100%;
	width: 100%;
}
  
body {
	background: black;
	margin: 0;
}

a {
	text-decoration: none;  
	color: white;
}
  
li {
	color: white;
	margin: 0;
}

.button1 {
	width: 40%;
	font-size: 1vw;
	border-radius: var(--b-radio);
}

.button2 {
	width: 50%;
	font-size: 1.3vw;
	border-radius: var(--b-radio);
}

.button1:hover, .button2:hover {
	color: white;
	background-color: var(--az-c);
	cursor: pointer;
}

.cell-blank {
	width: 13%;
}

/* BARRA DE NAVEGACIÓN */

header {
	background-color: black;
	display: flex;
	height: 20px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	position: fixed;
	z-index: 2;
}

nav {
	margin-right: 2%;
}

#logo_in {
	color: var(--am);
	font-size: 20px;
}

.indice {
	padding-right: 13px;
	font-size: 14px;
}

.indice:hover {
	color: var(--az-o);
}

/* INICIO */

#main-img {
	width: 79%;
	position: absolute;
	z-index: -1;
	left: 21%;
}

.contenedor-malla-inicio {
	width: 35%;
	display: grid;
	grid-template-columns: auto;
	top: 20px;
}

.grid-item, .align-text-inicio {
	padding-left: 5%;
	padding-top: 4%;
}

.align-text-inicio, .align-button-contactar {
	padding-right: 40%;
}

.align-button-explorar {
  padding-left: 45%;
}

.align-button-contactar {
	padding-left: 8%;
}

h1 {
	color: var(--am);
	font-size: 3.225vw;
	text-shadow: var(--tshadow) var(--az-o);
}

.in_text {
	color: var(--am);
	font-size: 1.498vw;
}

.video-contenedor {
	padding-top: 20%;
}

.vid-presentation {
	width: 58%;
	height: 20%;
	padding-left: 21%;
}

/* SECCIONES */
.subtitle {
	position: sticky;
	top: 6.5%;
	border: 2px solid #dbdf01;
	border-radius: var(--b-radio);
	font-size: 2.5vw;
	background-color: var(--am);
	padding-left: 2%;
}

.centrar-seccion {
	padding-left: 5%;
	padding-right: 5%;
}

/* SECCIÓN PROYECTOS */

.type-project-cell {
	width: 35%;
	background-color: var(--az-c);
	border-radius: var(--b-radio);
	box-shadow: -0.02vw -0.02vw 0.75vw 0.15vw black inset;
}

.type-project-img {
	padding-top: 5%;
	width: 70%;
	height: 70%;
}
  
#project-table {
	width:70%;
	padding: 8px solid;
	margin: 20px auto;
}

.type-project-title {
	font-size: 2vw;
	color: white;
}

.project-button {
	padding: 20px;
}

/* SECCIÓN ACERCA DE */
  
.celda, .in_text {
	font-weight: normal;
}

fieldset {
	background-color: var(--az-c);
	border-color: var(--az-c);
	border-radius: var(--b-radio);
}
  
legend {
	background-color: white;
	text-decoration: bold;
	border-radius: var(--b-radio);
	width: 15%;
	height: 4.7vw;
}

.legend-text {
	color: black;
	font-size: 1.7vw;
}

.contenedor-acerca {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2%;
}

.tabla-perfil, .tabla-idiomas {
	border: solid black;
	border-radius: var(--b-radio);
	background-color: white;
	width: 60%;
	box-shadow: 0vw 0vw 4vw -1.25vw;
}

.area-dato, .area-dato-tabla, .titulo-dato, .ultima-area-dato, .titulo-dato-sin-borde {
	font-size: 1vw;
}

.area-dato, .titulo-dato, .ultima-area-dato, .titulo-dato-sin-borde {
	padding-left: 4%;
	text-align: left;
}

.area-dato{
	width: 70%;
}

.titulo-dato{
	width: 30%;
}

.area-dato, .area-dato-tabla, .titulo-dato {
	border-bottom: solid;
	border-color: black;
	padding-top: 1.75%;
	padding-bottom: 1.75%;
}

.area-dato, .area-dato-tabla, .ultima-area-dato, .celda-idioma, .celda-idioma-sin-borde {
	color: var(--az-o);
}

.tabla-nacimiento {
	width: 90%;
	border-spacing: 0%;
	margin: 0% 5%;
}

.area-dato-tabla {
	text-align: center;
}

.area-dato-nacimiento {
	padding: 2% 6%;
}

.fondo-foto-perfil {
	display: flex;
	width: 30%;
	justify-content: center;
	align-items: center;
}

.foto-perfil {
	display: block;
	margin: auto;
	max-width: 80%;
	min-width: 40%;
	max-height: 80%;
	min-height: 50%;
	border: solid#919406;
	border-radius: var(--b-radio);
	background-color: #919406;
	box-shadow: 0vw 0vw 5vw -1.25vw black;
}

.info-perfil-titulo {
	font-size: 2.4vw;
	margin-left: 3%;
	margin-top: 2.3%;
	color: var(--am);
	text-shadow: var(--tshadow) black;
}

.malla-forma-academica, .malla-perfil-botones {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1.5vw 9vw;
}

.malla-forma-academica {
	width: 80%;
	margin: auto;
}

.tabla-info-educacion {
	width: 80%;
}

h4 {
	color: white;
	font-size: 1.45vw;
	text-shadow: var(--tshadow) black;
	margin: 0;
}

.institucion {
	color: white;
}

.institucion-nombre {
	font-weight: bold;
	font-size: 0.9vw;
}

.institucion-nombre:hover {
	cursor: pointer;
	color: var(--am);
}

.institucion-periodo {
	font-size: 0.85vw;
}

.ico-enlace {
	width: 3%;
}

.mapa-integrado {
	width: 100%;
	height: 100%;
	border: 0;
	box-shadow: 0vw 0vw 0vw 1vw white, 0vw 0vw 5vw -1.25vw black;
}

.tabla-idiomas {
	margin: auto;
}

.celda-idioma, .celda-idioma-sin-borde, .habilidad-idioma {
	padding-top: 1.75%;
	padding-bottom: 1.75%;
	font-size: 1vw;
	text-align: center;
}

.celda-idioma {
	border-bottom: solid;
	border-color: black;
}

.malla-perfil-botones {
	width: 80%;
	margin: auto;
	padding: 5% 0% 5% 0%;
}

div.malla-perfil-boton {
	text-align: center;
}

/* SECCIÓN NOVEDADES */

#texto-introductorio-novedad {
	font-size: 1.25vw;
	color: var(--am);
	text-align: center;
}

#flex-nov {
	display: flex;
	height: 30vw;
	justify-content: space-evenly;
}

#malla-nov-lista-proyectos {
	width: 50%;
	text-align: center;
}

#subt-sec-nov, .subt-nov-vot {
	color: var(--am);
	font-weight: bold;
}

#subt-sec-nov {
	font-size: 2vw;
	padding-top: 1%;
	padding-bottom: 1%;
}

.lista-proyecto {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.btn-project, .btn-project-seleccionado  {
	width: 80%;
	border-radius: var(--b-radio);
	font-size: 2vw;
	font-weight: bold;
}

.btn-project-seleccionado {
	background-color: var(--az-o);
	color: white;
}

.btn-project  {
	color: black;
	background-color: white;
}

.btn-project:hover  {
	color: var(--am);
	background-color: var(--az-c);
	cursor: pointer;
}

#pantalla-votacion {
	width: 50%;
	height: 90%;
	overflow-y: scroll;
	border: 0.5rem solid white;
	border-radius: var(--b-radio);
	margin: auto;
}

.subt-nov-vot {
	font-size: 1.3vw;
	margin: 8%;
	margin-top: 2%;
	margin-bottom: 2%;

}

.contenedor-votacion {
	width: 95%;
	margin-left: 3%;
	background-color: var(--az-o);
	border-radius: var(--b-radio);
}

.texto-votacion {
	color: white;
	padding: 3% 4%;
	text-align: justify;
	font-size: 1vw;
	font-weight: normal;
}

/* SECCIÓN CONTACTO */

.centrar-subseccion {
	padding-left: 3%;
	padding-right: 3%;
}

.subseccion-contacto {
	color: white;
	border-radius: var(--b-radio);
	padding-left: 2%;
	background-color: var(--az-o);
}

.info-contacto {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 5vw;
}

.texto-correo {
	font-size: 1vw;
	color: white;
	padding-bottom: 2%;
}

.lista-contacto {
	margin-top: 2%;
	margin-bottom: 2%;
}

h5 {
	color: var(--am);
	font-size: 1.4vw;
}

.malla-redes {
	margin-left: 20%;
}

.lista-contacto-redes {
	padding-bottom: 2%;
}

.ico-redes {
	height: 1.6vw;
}

.texto-redes {
	font-size: 1vw;
}

/* PIE DE PÁGINA */

footer{
	background-color: var(--az-o);
	height: 200px;
	padding-top: 30px;
  text-align: center;
}

#foot-text{
	color: var(--am);
}

.icono-redes-nebou {
	height: 1.6vw;
}

@media screen and (max-width: 700px) {
	header{
		height: 80px;
		flex-direction: column;
	}

	.indice{
		padding-right: 10px;
	}
}