* {
	font-family: Verdana;
}

html{
	height: 100%;
	width: 100%;
}
  
body{
	background: black;
	margin: 0;
}

a{
	text-decoration: none;  
	color: white;
}
  
li{
	color: #F9FF00;
}

.button1 {
	width: 50%;
	height: 150%;
	font-size: 0.85vw;
	border-radius: 17px;
}

.button2 {
	width: 50%;
	font-size: 1.3vw;
	border-radius: 17px;
}

.button1:hover, .button2:hover {
	color: white;
	background-color: #0550AF;
	cursor: pointer;
}

/* BARRA DE NAVEGACIÓN */

header{
	background-color: black;
	display: flex;
	height: 20px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	position: fixed;
}

#logo_in{
	color: #F9FF00;
	font-size: 20px;
}

.indice{
	padding-right: 13px;
	font-size: 14px;
}

.indice:hover{
	color: #033473;
}

/* INICIO */

#main-img {
	width: 79%;
	position: absolute;
	z-index: -1;
	left: 21%;
}

.grid-container {
	width: 35%;
	display: grid;
	grid-template-columns: auto;
	top: 20px;
}

.grid-item, .align-text-inicio {
	padding-left: 5%;
	padding-top: 4%;
}

.align-text-inicio, .align-button-contactar {
	padding-right: 40%;
}

.align-button-explorar{
  	padding-left: 45%;
}

.align-button-contactar{
	padding-left: 8%;
}

h1{
	color: #F9FF00;
	font-size: 3.225vw;
}

.in_text{
	color: #F9FF00;
	font-size: 1.498vw;
}

.video-contenedor{
	padding-top: 20%;
}

.vid-presentation{
	width: 58%;
	height: 20%;
	padding-left: 21%;
}

/* SECCIONES */
.subtitle{
	border: 2px solid #dbdf01;
	border-radius: 17px;
	font-size: 2.5vw;
	background-color: #F9FF00;
}

.centrar-seccion{
	padding-left: 5%;
	padding-right: 5%;
}

/* SECCIÓN PROYECTOS */

.type-project-cell{
	width: 35%;
	background-color: #0550AF;
	border-radius: 17px;
}

.type-project-img{
	padding-top: 5%;
	width: 70%;
	height: 70%;
}
  
.project-table{
	width:70%;
	padding: 8px solid;
	margin: 20px auto;
}

.project-blank{
	width: 13%;
}

.type-project-title {
	font-size: 2vw;
	color: white;
}

.project-button{
	padding: 20px;
}

/* SECCIÓN ACERCA DE */
  
.celda, .in_text{
	font-weight: normal;
}
  
video{
	border: 10px #F9FF00;
}

fieldset{
	background-color: #033473;
}
  
legend{
	background-color: white;
	color: black;
	text-decoration: bold;
	border: 2px solid white;
	border-radius: 7px;
	font-size: 20px;
	width: 90px;
	padding-left: 50px;
}
  
#info{
	border-color: black;
	background-color: white;
	width: 50%;
}
  
footer{
	background-color: #033473;
	height: 200px;
	padding-top: 30px;
}
  
.foot-text{
	color: #F9FF00;
}
  
#projects-col{
	width:70%
}

@media screen and (max-width: 700px) {
	header{
		height: 80px;
		flex-direction: column;
	}

	.indice{
		padding-right: 10px;
	}
}