
html{
	height: 100%;
	width: 100%;
  }
  
  body{
	background: black;
  }

  #main-img{
	width: 900px;
  }
  
  h1{
	font-family: Verdana;
	color: #F9FF00;
	font-size: 50px;
  }
  
  #Logo_in{
	color: #F9FF00;
	font-size: 20px;
  }
  
  a{
	font-family: Verdana;
	text-decoration: none;  
	color: white;
  }
  
  li{
	color: #F9FF00;
  }
  
  .subtitle{
	  border: 2px solid #dbdf01;
	  border-radius: 7px;
	  font-family: Verdana;
	  font-size: 20px;
	  background-color: #F9FF00;
  }
  
  .in_text{
	color: #F9FF00;
	font-size: 25px;
  }
  
  .celda{
	font-weight: normal;
  }
  
  video{
	border: 10px #F9FF00;
  }

  fieldset{
	  background-color: #033473;
  }
  
  legend{
	background-color: white;
	color: black;
	text-decoration: bold;
	  border: 2px solid white;
	  border-radius: 7px;
	  font-family: Verdana;
	  font-size: 20px;
	width: 90px;
	padding-left: 50px;
  }
  
  #info{
	border-color: black;
	background-color: white;
	width: 50%;
  }

  .type-project-cell{
	background-color: #0550AF;
	border-radius: 35px;
  }

  .type-project-img{
	width: 250.23px;
	height: 250.23px;
  }
  
  #project-table{
	width:70%;
	padding: 8px solid;
	margin: 20px auto;
  }

  #project-blank{
	  width: 10%;
  }
  
  footer{
	background-color: #033473;
	height: 200px;
	padding-top: 30px;
  }
  
  .foot-text{
	color: #F9FF00;
	font-family: Verdana;
  }
  
  #projects-col{
	width:70%
  }