.index-background-img {
    display: inline-block;
    background-image: url('../img/page-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.index-background-mask {
    /* fallback for old browsers */
    background: var(--c6);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, var(--c6-d2),  var(--c5-d1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, var(--c6-d1),  var(--c5-d1))
}

.scrollspy-block {
    position: relative;
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrolltext-block {
    position: relative;
    height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrolldes-block {
    background-color: var(--c6) !important;
    color: var(--c0) !important;
    font-weight: bold !important;
    width: auto;
    height: auto;
    overflow: auto;
}

.scrolquotes-block {
    position: relative;
    height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ani-quotes-bg:hover {
    background-color: var(--c0-d2);
}

.blockquote-footer {
    color: var(--c3);
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background-color: transparent;
}

[class*=" imghvr-"] a, [class^=imghvr-] a {
    position: initial;
    z-index: 0;
}

.blockquote-footer::before {
    content: "\2014\00A0";
}

.blockquote-footer a cite {
    font-size: 0.875rem;
}