:root {
    --title: var(--c3);
    --text: #ffffff;
    --c0: #fcd788;
    --c1: #fcc660;
    --c2: #e3b256;
    --c3: #bd9448;
    --c4: #7d622f;
    --c5: #3d3017;
    --c6: #1C160B;
    --c0-d0: rgba(252, 215, 139, 0.9);
    --c1-d0: rgba(252, 198, 96, 0.9);
    --c2-d0: rgba(227, 178, 86, 0.9);
    --c3-d0: rgba(189, 148, 72, 0.9);
    --c4-d0: rgba(125, 98, 47, 0.9);
    --c5-d0: rgba(61, 48, 23, 0.9);
    --c6-d0: rgba(28, 22, 11, 0.9);
    --c0-d1: rgba(252, 215, 139, 0.69);
    --c1-d1: rgba(252, 198, 96, 0.69);
    --c2-d1: rgba(227, 178, 86, 0.69);
    --c3-d1: rgba(189, 148, 72, 0.69);
    --c4-d1: rgba(125, 98, 47, 0.69);
    --c5-d1: rgba(61, 48, 23, 0.69);
    --c6-d1: rgba(28, 22, 11, 0.69);
    --c0-d2: rgba(252, 215, 139, 0.345);
    --c1-d2: rgba(252, 198, 96, 0.345);
    --c2-d2: rgba(227, 178, 86, 0.345);
    --c3-d2: rgba(189, 148, 72, 0.345);
    --c4-d2: rgba(125, 98, 47, 0.345);
    --c5-d2: rgba(61, 48, 23, 0.345);
    --c6-d2: rgba(28, 22, 11, 0.345);
}

#Load-indicator {
    color: white;
}

.icon-color-1 {
    color: var(--c1);
}

.icon-color-3 {
    color: var(--c6);
}

 #icon-bg-nav {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 2rem;
}

.index-text-primario {
    color: var(--c3);
}

.titulo-primario {
    color: var(--title);
}

.ani-shadow:hover {
    color: var(--c5);
    background-color: var(--c1);
    border-color: var(--c3);
}

.index-btn-primario-b {
    color: var(--c0);
    background-color: var(--c4);
    border-color: var(--c5);
}

.ani-shadow:focus {
    box-shadow:0 0 0 .25rem var(--c4-d1)
}

.index-btn-primario-m {
    color: var(--c0);
    background-color: var(--c3);
    border-color: var(--c3-d1);
}

.index-btn-primario-m:hover, .index-btn-primario-m:focus {
    color: var(--c0);
    background-color: var(--c0);
    border-color: var(--c0);
    box-shadow: 0rem 0rem 1rem var(--c0);
}

.index-btn-primario-m:focus {
    box-shadow:0 0 0 .25rem var(--c1)
}

.bg-index {
    background-color: var(--c5);
    color: var(--c5);
}

.ani-tab-active, .ani-active {
    background-color: var(--c0);
    border-color: var(--c5);
}

.ani-active {
    border: 20rem;
    margin-bottom: 1rem;
}

.btn-shadow-color:hover, .btn-shadow-color:focus {
    background-color: var(--c2-d2);
    color: var(--c1);
    font-weight: bold;
    box-shadow: 0rem 0rem 1rem var(--c3-d2);
}

.text-shadow-color:hover, .text-shadow-color:focus {
    color: var(--c3-d2);
    font-weight: bold;
    text-shadow: 0rem .1rem var(--c2-d2);
}

.text-shadow-color-c:hover, .text-shadow-color-c:focus {
    color: var(--c1);
    font-weight: bold;
    text-shadow: 0rem .1rem var(--c4);
}

.form-select:focus, .form-control:focus {
    border-color: var(--c0);
    box-shadow: 0 0 0 0.25rem var(--c5-d1);
}