.index-background-img {
    display: inline-block;
    background-image: url('../img/page-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.index-background-mask {
    /* fallback for old browsers */
    background: var(--c6);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, var(--c6-d2),  var(--c5-d1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, var(--c6-d1),  var(--c5-d1))
}