:root {
    --azul-claro: #415ed0;
    --azul-oscuro: #193398;
    --turquesa-claro: #00c3a2;
    --turquesa-oscuro: #02806b;
    --casi-negro: #18150b;
    --morado-oscuro: #36256d;
    --morado-claro: #9133a7;
    --morado: #7234c3;
}

.icon-color-1 {
    color: var(--turquesa-claro);
}

.icon-color-2, .enlace {
    color: var(--azul-claro);
}

.icon-color-3, .mytho-text-primario {
    color: var(--morado-claro);
}

.enlace:hover {
    color: var(--morado);
}

.mytho-text-primario:hover {
    text-shadow: 0 0 .6rem var(--morado);
}

.mytho-btn-primario-b {
    color: #fff;
    background-color: var(--azul-claro);
    border-color: var(--azul-oscuro);
}

.mytho-btn-primario-b:hover, .mytho-btn-primario-b:focus {
    color: #fff;
    background-color: var(--turquesa-claro);
    border-color: var(--turquesa-oscuro);
}

.mytho-btn-primario-b:focus {
    box-shadow:0 0 0 .25rem rgba(0, 195, 162, 0.69)
}

.mytho-btn-primario-m {
    color: #fff;
    background-color: var(--morado-claro);
    border-color: var(--morado-oscuro);
}

.mytho-btn-primario-m:hover, .mytho-btn-primario-m:focus {
    color: #fff;
    background-color: var(--morado);
    border-color: var(--morado);
}

.mytho-btn-primario-m:focus {
    box-shadow:0 0 0 .25rem rgba(0, 195, 162, 0.69)
}

@keyframes spinner-mytho-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */
    }
}

.spinner-mytho-border {
    display:inline-block;
    background-color: var(--turquesa-claro);
    background-image: url(../img/mythoicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border-radius: 50%;
    animation: .75s linear infinite spinner-mytho-border;
    box-shadow: -.2rem 0 1rem .2rem var(--azul-oscuro), .2rem 0 1rem .2rem var(--turquesa-oscuro);
}

.spinner-mytho-grow {
    display:inline-block;
    background-color: var(--turquesa-claro);
    background-image: url(../img/mythoicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border-radius: 50%;
    opacity: 0;
    animation: .75s linear infinite spinner-mytho-grow;
    box-shadow: -.1rem 0 1rem .2rem var(--azul-oscuro), .1rem 0 1rem .2rem var(--turquesa-oscuro);
}

@media (prefers-reduced-motion: reduce) {
    .spinner-mytho-border, .spinner-mytho-grow {
        animation-duration:1.5s
    }
}